[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"
autopep8 = "*"
jupyter = "*"
ipykernel = "*"

[packages]
numpy = "*"
pandas = "*"
beautifulsoup4 = "*"
tqdm = "*"
aiohttp = "*"
requests = "*"
chainer = "*"
chainercv = "*"
Cython = "*"
pycocotools = "*"
mljsp = {git = "https://github.com/hrsma2i/ml_json_processor.git"}
matplotlib = "*"
aiodl = {git = "https://github.com/hrsma2i/aiodl.git"}

[requires]
python_version = "3.6"
